:root {
    --light-color: #e3e6ee; /* Light Background */
    --color-blue-300: rgb(0, 101, 179);
    --color-blue-dark: rgb(0, 51, 117);
    --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.position-bottom {
    position: fixed;
    bottom: 0;
}

.h-15 {
    height: 15%;
}

.bg-color-light {
    background-color: var(--light-color);
}

.border-blue-top {
  border-top: 4px solid var(--color-blue-300);
}

.text-weight-600 {
  font-weight: 600;
}
